<div class="flex">
  <div class="grow">
    <p class="font-medium text-lg text-slate-700">Full Sleeve Sweatshirt for Men (Pink)</p>
    <div class="md:flex">
      <p class="cursor-pointer text-slate-700 md:border-r border-[#8e919f] md:pr-5">Tommy Hilfiger</p>
      <p class="text-slate-700 md:border-r border-[#8e919f] md:px-5 font-medium"><span class="font-normal text-[#878a99] mr-1">Seller: </span>Zoetic Fashion</p>
      <p class="text-slate-700 md:border-[#8e919f] md:pl-5 font-medium"><span class="font-normal text-[#878a99] mr-1">Published: </span>26 Mar, 2021</p>
    </div>
    <div class="flex mt-1 rating">
      <div class="text-[#f7b84b]">
        <mat-icon>star</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
      <p class="text-[#8e919f] pl-4">( 5.5k Customer Review )</p>
    </div>
  </div>
  <div class="content-baseline">
    <button class="bg-[#f3f6f9] p-3 rounded">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
