<div class="mt-5 description">
  <p class="font-medium text-slate-700">Description</p>
  <p class="font-normal text-[#878a99] content">Tommy Hilfiger men striped pink sweatshirt. Crafted with cotton. Material composition is 100% organic cotton. This is one of the world’s leading designer lifestyle brands and is internationally recognized for celebrating the essence of classic American cool style, featuring preppy with a twist designs.</p>
  <div class="grid grid-cols-2">
    <div class="col-span-2 md:col-span-1 mt-3 md:mt-0">
      <p class="font-medium text-slate-700">Features :</p>
      <p class="content font-normal text-slate-700" *ngFor="let feature of features">{{feature}}</p>
    </div>
    <div class="col-span-2 md:col-span-1 mt-3 md:mt-0">
      <p class="font-medium text-slate-700">Services :</p>
      <p class="content font-normal text-slate-700" *ngFor="let service of services">{{service}}</p>
    </div>
  </div>
</div>
