<div class="categories p-3 text-[#878a99]">
  <p class="uppercase font-medium">Product Reviews</p>
  <div class="review">
    <div class="flex p-3 border border-dashed border-[#e9ebec] rounded">
      <img class="mx-1 h-12 w-12 bg-[#f3f6f9] rounded-sm p-1" src="https://themes.themesbrand.com/velzon/angular/default/assets/images/companies/img-1.png">
      <div class="grow pl-3">
        <p class="italic">"Great product and looks great and lots of..."</p>
        <p class="rating text-[#f7b84b]">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
        </p>
        <p>- by <span class="italic">Force Medics</span></p>
      </div>
    </div>
    <div class="flex p-3 border border-dashed border-[#e9ebec] rounded mt-3">
      <img class="mx-1 h-12 w-12 rounded-sm" src="https://themes.themesbrand.com/velzon/angular/default/assets/images/users/avatar-3.jpg">
      <div class="grow pl-3">
        <p class="italic">"Amazing template very easy to..."</p>
        <p class="rating text-[#f7b84b]">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_half</mat-icon>
        </p>
        <p>- by <span class="italic">Henry Baid</span></p>
      </div>
    </div>
  </div>
</div>
