<div class="bg-[#ffffff] rounded">
  <div class="align-middle flex p-3 justify-between">
    <p class="grow font-medium">Sales by Locations</p>
    <button class="bg-[#ecedf3] text-[#3a497b] hover:bg-[#3a497b] hover:text-[#ffffff] rounded-sm px-3">Export Report</button>
  </div>
  <div class="map p-3 border-t border-b-gray-500">
    <iframe class="w-full h-80"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.818370003179!2d36.813880414753896!3d-1.282801199064362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10d23912632b%3A0xa3e642f1ab7822a8!2sView%20Park%20Towers%2C%20Utalii%20St%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1682538373101!5m2!1sen!2ske" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="progress p-3">
    <progress-bar-component *ngFor="let content of contents" [title]="content.title" [value]="content.value" ></progress-bar-component>
  </div>
</div>
