<div class="p-3 activity">
  <p class="uppercase font-medium text-[#878a99]">Recent Activity</p>
  <div class="max-h-96 overflow-y-auto">
    <ol class="relative border-dashed border-l border-[#e9ebec] m-3">
      <li class="mb-5 ml-6">
        <span class="absolute flex items-center justify-center w-7 h-7 bg-blue-100 rounded-full -left-3 ring-8 ring-white bg-[#0ab39c2e] align-middle">
          <mat-icon class="text-[#09a18c] text-center">shopping_cart</mat-icon>
        </span>
        <h3 class="flex items-center">Purchase by James Price</h3>
        <p class="mb-2 text-[#878a99]">Product noise evolve smartwatch.</p>
        <p class="mb-2 text-[#878a99]">02:14 PM Today</p>
      </li>
      <li class="mb-5 ml-6">
        <span class="absolute flex items-center justify-center w-7 h-7 bg-blue-100 rounded-full -left-3 ring-8 ring-white bg-[#fae3de] align-middle">
          <mat-icon class="text-[#ec6447] text-center">view_agenda</mat-icon>
        </span>
        <h3 class="flex items-center">Added new style collection</h3>
        <p class="mb-2 text-[#878a99]">By Nesta Technologies.</p>
        <div class="flex border-dashed border mt-2 border-[#e9ebec] p-2 mb-2">
          <img class="mx-1 h-12 w-12 bg-[#f3f6f9] rounded-sm p-1" src="https://themes.themesbrand.com/velzon/angular/default/assets/images/products/img-8.png">
          <img class="mx-1 h-12 w-12 bg-[#f3f6f9] rounded-sm p-1" src="https://themes.themesbrand.com/velzon/angular/default/assets/images/products/img-2.png">
          <img class="mx-1 h-12 w-12 bg-[#f3f6f9] rounded-sm p-1" src="https://themes.themesbrand.com/velzon/angular/default/assets/images/products/img-10.png">
        </div>
        <p class="mb-2 text-[#878a99]">02:14 PM Today</p>
      </li>
      <li class="mb-5 ml-6">
        <span class="absolute flex items-center justify-center w-7 h-7 bg-blue-100 rounded-full -left-3 ring-8 ring-white bg-[#3577f1] align-middle">
          <mat-icon class="text-[#ffffff] text-center">verified</mat-icon>
        </span>
        <h3 class="items-center">Today offers by <span class="text-[#3577f1]">Digitech Galaxy</span></h3>
        <p class="mb-2 text-[#878a99]">Offer is valid on orders of Rs.500 Or above for selected products only.</p>
      </li>
      <li class="mb-5 ml-6">
        <span class="absolute flex items-center justify-center w-7 h-7 bg-blue-100 rounded-full -left-3 ring-8 ring-white bg-[#fae3de] align-middle">
          <mat-icon class="text-[#ec6447] text-center">bookmark</mat-icon>
        </span>
        <h3 class="items-center">Favoried Product</h3>
        <p class="mb-2 text-[#878a99]">Esther James have favorited product.</p>
      </li>
    </ol>
  </div>
</div>
