<mat-nav-list class="bg-[#405189] min-h-screen md:px-2">
  <a href="">
    <mat-card>CELICA</mat-card>
  </a>

  <mat-expansion-panel *ngFor="let nav_item of navItemsList" [class.mat-elevation-z0]="true" dense
                       [expanded]="getExpanded(nav_item)" [ngClass]="{'active border-l-4 border-indigo-500': getExpanded(nav_item)} " class=" bg-[#405189] mt-1.5 md:my-2 md:mt-1.5">
    <mat-expansion-panel-header class="parent-item-link
        text-[#e6e8f0]">
      <mat-icon class="md:mr-3" matTooltip="description" matTooltipPosition="right">{{ nav_item.icon }}</mat-icon>
      {{ nav_item.title }}
    </mat-expansion-panel-header>
    <mat-nav-list *ngIf="nav_item.children.length > 0" class="bg-[#405189] text-[#e6e8f0] md:p-1.5 md:-mx-5 md:-mb-2.5 rounded">
      <a *ngFor="let nav_item_link of nav_item.children" mat-list-item routerLink="{{ nav_item_link.link }}"
         [ngClass]="{'active': false}" class="text-[#e6e8f0] md:py-2 rounded">

        <mat-icon matTooltipPosition="right"
                  class="text-[#e6e8f0] md:mr-3">horizontal_rule
        </mat-icon>
        {{ nav_item_link.title}}
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-nav-list>

