<div class="mt-8">
  <p class="font-medium text-slate-700">Ratings & Reviews</p>
  <div class="grid grid-cols-6 gap-4">
    <div class="col-span-6 lg:col-span-2 rating">
      <div class="flex justify-between mb-3 px-5 bg-[#f3f6f9] items-center rounded pt-2">
        <div class="text-[#f7b84b]">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
        </div>
        <p class="text-[#878a99]">4 out of 5</p>
      </div>
      <p class="text-[#878a99] text-center numbers">Total <span class="font-medium">5.5k</span> reviews</p>
      <div class="progress">
        <div class="flex items-center mb-3">
          <p class="font-medium text-[#495057]">5 start</p>
          <div class="px-5 grow">
            <div class="bg-gray-200 rounded-full h-1.5">
              <div class="bg-[#58b49c] h-1.5 rounded-full" style="width: 45%"></div>
            </div>
          </div>
          <p class="text-[#878a99]">2758</p>
        </div>
        <div class="flex items-center">
          <p class="font-medium text-[#495057]">5 start</p>
          <div class="px-5 grow">
            <div class="bg-gray-200 rounded-full h-1.5">
              <div class="bg-[#58b49c] h-1.5 rounded-full" style="width: 45%"></div>
            </div>
          </div>
          <p class="text-[#878a99]">2758</p>
        </div>
      </div>
    </div>
  </div>
</div>
