
.rating div div .mat-icon{
  font-size: 16px;
  margin-right: -7px!important;
}

.numbers{
  font-size: 13px;
}

.progress div p{
  margin-bottom: 0px!important;
}

.star {
  font-size: 14px;
}


.star .mat-icon{
  font-size: 14px;
  margin-bottom: -10px !important;
}

.top {
  margin-bottom: 0px!important;
}

.commentor {
  font-size: 15px;
}
