
.mat-tab {
  color: #0ab39c;
}

.spec p{
  margin: 0!important;
  padding: 13px!important;
  padding-left: 0px!important;
}

.spec p:last-child {
  font-size: 13px;
}

.content {
  font-size: 13px;
}
