<div class="bg-[#f3f3f9] pb-5 min-h-screen">
  <div class="topbar bg-[#ffffff] border-t border-b-gray-500">
    <div class="content flex justify-between pt-2 px-5">
      <p class="font-bold text-base uppercase text-slate-600 text-center">PRODUCT DETAILS</p>
      <p class="text-slate-400">
        <span class="pr-3 text-slate-600">Ecommerce</span>/<span class="pl-3">Product Details</span>
      </p>
    </div>
  </div>
  <div class="product lg:grid lg:grid-cols-6 p-5 bg-[#ffffff] rounded m-5">
    <div class="lg:col-span-2">
      <img src="https://themes.themesbrand.com/velzon/angular/default/assets/images/products/img-8.png">
    </div>
    <div class="lg:col-span-4">
      <product-header-component></product-header-component>
      <metadata-component></metadata-component>
      <product-description-component></product-description-component>
      <product-specification-component></product-specification-component>
      <product-rating-component></product-rating-component>
    </div>
  </div>
</div>
