<div class="revenue bg-[#ffffff] rounded">
  <div class="flex p-3 items-center">
    <p class="grow uppercase font-medium text-[#495057]">Revenue</p>
    <div>
      <button class="bg-[#eaf1fe] p-2 text-[#588af3] rounded mx-1 hover:bg-[#3577f1] hover:text-[#ffffff]">All</button>
      <button class="bg-[#eaf1fe] p-2 text-[#588af3] rounded mx-1 hover:bg-[#3577f1] hover:text-[#ffffff]">1M</button>
      <button class="bg-[#eaf1fe] p-2 text-[#588af3] rounded mx-1 hover:bg-[#3577f1] hover:text-[#ffffff]">6M</button>
      <button class="bg-[#eaf1fe] p-2 text-[#588af3] rounded mx-1 hover:bg-[#3577f1] hover:text-[#ffffff]">1Y</button>
    </div>
  </div>
  <div class="flex text-center justify-between mb-3 info">
    <div class="border-dotted border-y-2 border-r-2 border-[#e9ebec] grow py-2">
      <p class="font-medium">7585</p>
      <p class="text-[#878a99]">Orders</p>
    </div>
    <div class="border-dotted border-y-2 border-r-2 border-[#e9ebec] grow py-2">
      <p class="font-medium">$22.89k</p>
      <p class="text-[#878a99]">Earnings</p>
    </div>
    <div class="border-dotted border-y-2 border-r-2 border-[#e9ebec] grow py-2">
      <p class="font-medium">367</p>
      <p class="text-[#878a99]">Refunds</p>
    </div>
    <div class="border-dotted border-y-2 border-[#e9ebec] grow py-2">
      <p class="text-[#58b49c] font-medium">18.92 %</p>
      <p class="text-[#878a99]">Conversation Ratio</p>
    </div>
  </div>
  <revenue-chart-component></revenue-chart-component>
</div>
