<div class="greeting mt-3 px-5">
  <div class="content flex py-2 items-center">
    <div class="grow">
      <p class="text-base text-slate-900 font-medium">Good Morning, Anna!</p>
      <p class="text-slate-500">Here's what's happening with your store today.</p>
    </div>
    <div>
      <a class="bg-[#dbecf0] hover:bg-[#09a18c] p-2 text-[#09a18c] hover:text-[#ffffff] rounded mr-3 text-xs"><mat-icon>add_circle_outline</mat-icon>Add Product</a>
      <a class="bg-[#deeaf6] hover:bg-[#42b0e4] p-2 pr-0 text-center pl-2 text-[#42b0e4] hover:text-[#ffffff] rounded"><mat-icon>crop_free</mat-icon></a>
    </div>
  </div>
</div>
